@import "./base.css";

#app {
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
    width: 100vw;
    height: 100vh;
}

a,
.green {
    text-decoration: none;
    color: rgb(0, 161, 189);
    transition: 0.4s;
}

@media (hover: hover) {
    a:hover {
        background-color: rgba(0, 161, 189, 0.123);
    }
}

@media (min-width: 1024px) {
    #app {
        width: 70vw;
    }
}
